.category-page {
    max-width: 1400px;

    margin: auto;

    padding: 35px 20px;
}


.category-page-title {
    font-size: 30px;

    font-weight: 800;

    margin-bottom: 30px;
}


.category-products-grid {
    display: grid;

    grid-template-columns:
        repeat(
            auto-fill,
            minmax(210px, 1fr)
        );

    gap: 22px;
}


.no-category-products {
    text-align: center;

    padding: 80px;

    color: #777;
}